/* Add a black background color to the top navigation */
.topnav {
    background-color: #2980b9;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.blackbg{
    background-color:black;
    height: auto;
    width:100%;
}
.bluebg{
    background-color:#2980b9;
    height: auto;
    width: 100%;
}
.whitebg{
    background-color:#ecf0f1;
    height: auto;
    width:100%;
}
.whitebg2{
    background-color:#ecf0f1;
    height: auto;
    width:100%;
}
h3{
    color:white;
}
p{
    color:white;
    font-size:20px;
    font-family: "times new roman";
    padding-left: 40px;
    padding-right: 40px;
}
p.btext{
    color:black;
    font-family:fantasy;
}
body{
    background-color: black;
}
img {
    display: block;
    margin: 0 auto;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

